*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    color: white;
}
p{
    font-size: 2rem;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: aquamarine;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: aquamarine;
    border-bottom: 3px solid aquamarine;
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: aquamarine;
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 25vw;
    border-radius:50% ;
    box-shadow: 0 0 25px aquamarine;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    /* font-size: 1.8rem;
    font-weight: 500; */
    transform: scale(1.05);
    box-shadow: 0 0 40px aquamarine;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid aquamarine;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: aquamarine;
    box-shadow: 0 0 25px aquamarine;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border: 2px solid aquamarine;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: aquamarine;
    letter-spacing: 0.3rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: aquamarine  ;
    color: black;
    box-shadow: 0 0 25px aquamarine;
}
 .typing-text {
     font-size: 34px;
     font-weight: 600;
     min-width: 280px;
 }

 .typing-text span {
     position: relative;
     display: inline-block;
 }

 .typing-text span::before {
     content: "Web Developer";
     color: aquamarine;
     animation: words 10s infinite;
 }

 .typing-text span::after {
     content: "";
     position: absolute;
     top: 0;
     right: -5px;
     width: 2px;
     height: 100%;
     background-color: white;
     animation: cursor 0.8s infinite;
 }

 @keyframes cursor {

     0%,
     100% {
         opacity: 1;
     }

     50% {
         opacity: 0;
     }
 }

 @keyframes words {

     0%,
     20% {
         content: "Web Developer";
     }

     21%,
     40% {
         content: "Software Developer";
     }

     41%,
     60% {
         content: "Web Designer";
     }

     61%,
     80% {
         content: "Youtuber";
     }

     81%,
     100% {
         content: "Script Writer";
     }
 }

@media(max-width:1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.menu-toggle{
    display: none;
}

/* MOBILE NAV BAR DROPDOWN OPTION */
@media (max-width: 995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 9%;
        width: 60%;
        flex-direction: column;
        background-color: #161616;
        border: 2px solid aquamarine;
        border-radius: 1rem;
        padding: 2rem;
        z-index: 99;

        /* hide nav by default */
        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all 0.3s ease;
    }

    nav.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
        text-align: right;
    }

    .menu-toggle {
        display: block;
        font-size: 3rem;
        color: aquamarine;
        cursor: pointer;
    }
}
